.container {
    width: 100%;
    max-width: var(--max-width);
    background-color: #fefefe;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px 20px 20px 20px;
}

.card {
    width: var(--card-width);
    margin: 0 0 2rem 0;
    transition: .5s all cubic-bezier(0, 1, 0.95, 1.05);
    cursor: pointer;
}

.card img {
    display: block;
    width: 100%;
    height: var(--img-height);
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: .5s all cubic-bezier(0, 1, 0.95, 1.05);
}

.card h4 {
    color: rgba(28, 28, 28, 0.91);
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
    padding: .1rem 0 .1rem 0;
    line-height: 2rem;
    letter-spacing: .1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 1rem;
    transition: .5s all cubic-bezier(0, 1, 0.95, 1.05);
}

.card p {
    margin: 0;
    font-size: .9rem;
    font-weight: bold;
    padding: 0 .2rem .1rem .2rem;
    letter-spacing: 1px;
    color: #949499;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: .5s all cubic-bezier(0, 1, 0.95, 1.05);
}

.card .contentWrapper {
    height: 0;
    overflow: hidden;
    transition: all .3s ease-out;
    opacity: .8;
}

.card .contentWrapper .content {
    padding: 0 1.2rem;
    background-color: #fff;
    overflow: auto;
    transition: all .1s ease-in-out;
}

.card .content p {
    font-size: 1rem;
    line-height: 1rem;
    padding: 0 .8rem;
    display: none;
}

.card .button {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    background: #0071e3;
    color: #fff;
    font-size: .9rem;
    line-height: .5rem;
    font-weight: 400;
    letter-spacing: -.022em;
    min-width: 28px;
    padding: 18px 31px;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    display: none;
    outline: none;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 0;
}

.fixHeight {
    height: 80px;
    margin: 5px;
}

.loginButton {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    background: #0071e3;
    color: #fff;
    font-size: .9rem;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: 5px;
    min-width: 28px;
    padding: 12px 31px;
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: var(--max-width);
    border: 0;
}

.time {
    font-size: 1rem;
    color: #909090;
}

.loadingButtonDiv {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.loadingButtonDiv button {
    width: 100%;
    margin: 0 auto;
    border: 0;
    font-size: 1rem;
    color: rgba(130, 130, 130, 0.5);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
