.container {
    margin: 0 auto;
    background-color: #fdfdfe;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100vh - 44px);
    max-width: var(--max-width);
    padding: 20px;
}

.row {
    width: 100%;
    margin: .6rem 0;
    position: relative;
}

.row .input {
    font-size: 1rem;
    border: 1px solid #d2d2d7;
    border-radius: 10px;
    margin: 0;
    padding: 1.5rem 1rem .4rem 1rem;
    width: 100%;
    box-sizing: border-box;
    color: #2e3131;
    outline: none;
    transition: all .1s ease-in-out;
}

.row label {
    position: absolute;
    left: 1rem;
    top: .9rem;
    font-size: 1rem;
    color: #ccc;
    transition: all .1s ease-in-out;
}

.row .input:focus {
    border-color: #0071e3;
    box-shadow: 0 0 0 4px rgba(0, 125, 250, .60);
}

.row .input:focus + label {
    transform: translate(0, -.4rem);
    font-size: .7rem;
    font-weight: 500;
    color: rgba(78, 78, 78, 0.74);
}

.input:not(:focus):not(:placeholder-shown) + label {
    transform: translate(0, -.4rem);
    font-size: .7rem;
    font-weight: 500;
    color: rgba(78, 78, 78, 0.74);
}

.loginButton {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    background: #0071e3;
    color: #fff;
    font-size: .9rem;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    min-width: 28px;
    padding: 15px 31px;
    box-sizing: border-box;
    width: 100%;
    max-width: var(--max-width);
    border: 0;
    margin-top: 20px;
    display: inline-block;
    outline: none;
}