@value player-height: 60px;

@value player-width: 100px;

@value player-margin: 0px 10px 50px 10px;

@value player-padding: 10px;

.fullscreen {
    overflow: auto;
    background: white;
}

.enter {
    text-align: right;
    width: 100px;
    background: #333334;
    color: white;
    border: 0 solid black;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.exit {
    text-align: center;
    width: 100px;
    background: #333334;
    color: white;
    border: 0 solid black;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    background-color: #fefefe;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px 20px 20px 20px;
}

.player0 {
    height: player-height;
    width: player-width;
    margin: player-margin;
    padding: player-padding;
    border-radius: 10px;
    text-align: center;
    background-size: 600% 600% !important;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradientBG 10s ease infinite, breathing infinite 10s linear;
}

.currentUser {
    animation: gradientBG 5s ease infinite, currentUser infinite 1s linear !important;
}

.player1 {
    height: player-height;
    width: player-width;
    margin: player-margin;
    padding: player-padding;
    border-radius: 10px;
    text-align: center;
    background-size: 600% 600% !important;
    background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #ee7752);
    animation: gradientBG 10s ease infinite, breathing infinite 10s linear;
}

.player2 {
    height: player-height;
    width: player-width;
    margin: player-margin;
    padding: player-padding;
    border-radius: 10px;
    text-align: center;
    background-size: 600% 600% !important;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
    animation: gradientBG 10s ease infinite, breathing infinite 10s linear;
}

.player3 {
    height: player-height;
    width: player-width;
    margin: player-margin;
    padding: player-padding;
    border-radius: 10px;
    text-align: center;
    background-size: 600% 600% !important;
    background: linear-gradient(-45deg, #23d5ab, #ee7752, #e73c7e, #23a6d5);
    animation: gradientBG 10s ease infinite, breathing infinite 10s linear;
}

@keyframes gradientBG {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes currentUser {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.playerContainer {
    position: fixed;
    top: 5em;
    display: flex;
    justify-content: center;
}

.playerName {
    color: white;
    font-size: 1em;
    user-select: none;
}

.cardNum {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    user-select: none;
}

.normal {
    transform: rotate(180deg);
}

.reverse {
    transform: rotate(0deg);
}

.arrowAnim {
    height: 5em;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.arrow {
    width: 5em;
    height: 5em;
    border: 1em solid;
    border-color: black transparent transparent black;
    transform: rotate(-45deg);
}


.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(15em);
    }
    20% {
        opacity: 1;
        transform: translateX(9em);
    }
    80% {
        opacity: 1;
        transform: translateX(-9em);
    }
    100% {
        opacity: 0;
        transform: translateX(-15em);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(15em);
    }
    20% {
        opacity: 1;
        transform: translateX(9em);
    }
    80% {
        opacity: 1;
        transform: translateX(-9em);
    }
    100% {
        opacity: 0;
        transform: translateX(-15em);
    }
}
