@value card-width: 90px;

@value card-height: 140px;

@value card-inner-width: 80px;

@value card-inner-height: 130px;

@value card-inner-margin: 5px 5px 5px 5px;

@value margin-right: -60px;

@value font-size: 15px;

.containerCan {
    display: inline-block;
    position: relative;
    width: card-width;
    height: card-height;
    border-radius: 10px;
    background: #fff;
    margin-right: margin-right;
    border: #7b7b7b 1px solid;
    -webkit-box-shadow: 0 0 5px 5px #f1f1f138;
    box-shadow: 0 0 5px 5px #f1f1f138;
    cursor: pointer;
    user-select: none;
}

.containerCan:hover {
    display: inline-block;
    position: relative;
    width: card-width;
    height: card-height;
    border-radius: 10px;
    background: #fff;
    border: #7b7b7b 1px solid;
    -webkit-box-shadow: 0 0 5px 5px #f1f1f138;
    box-shadow: 0 0 5px 5px #f1f1f138;
    cursor: pointer;
    animation: breathing infinite 1s linear;
    z-index: 1;
    user-select: none;
}

.container {
    display: inline-block;
    position: relative;
    width: card-width;
    height: card-height;
    border-radius: 10px;
    background: #fff;
    margin-right: margin-right;
    border: #7b7b7b 1px solid;
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    user-select: none;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.bg-red {
    border-radius: 5px;
    background: #ff5555;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.bg-blue {
    border-radius: 5px;
    background: #5555ff;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.bg-green {
    border-radius: 5px;
    background: #55aa55;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.bg-yellow {
    border-radius: 5px;
    background: #ffaa00;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.bg-black {
    border-radius: 5px;
    background: #030303;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.number {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    margin: 0 auto;
    border-radius: 30px;
    color: white;
    font-size: font-size;
    text-align: center;
    line-height: 100px;
    font-weight: bolder;
}

.numberUp {
    position: absolute;
    top: 5px;
    left: 8px;
    color: white;
    font-size: font-size;
}

.numberDown {
    position: absolute;
    bottom: 5px;
    right: 8px;
    color: white;
    font-size: font-size;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

