.container {
    position: fixed;
    bottom: 50vh;
    width: 90vw;
    padding: 0.1em;
    overflow-x: auto;
}

.innerContainer {
    width: max-content;
    padding: 0.5em 4.4em 0.5em 1em;
    margin: 0 auto;
}
