@value card-width: 6em;

@value card-height: 10em;

@value card-inner-width: 5.3em;

@value card-inner-height: 9.3em;

@value card-inner-margin: 0.3em;

@value margin-right: -4em;

@value number-font-size: 0.8em;

@value center-font-size: 1.5em;

@value border-radius: 0.5em;

.container {
    display: inline-block;
    position: relative;
    width: card-width;
    height: card-height;
    border-radius: border-radius;
    background: #fff;
    margin-right: margin-right;
    border: #7b7b7b 1px solid;
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    user-select: none;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.bg-red {
    border-radius: border-radius;
    background: #ff5555;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.bg-blue {
    border-radius: border-radius;
    background: #5555ff;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.bg-green {
    border-radius: border-radius;
    background: #55aa55;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.bg-yellow {
    border-radius: border-radius;
    background: #ffaa00;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.bg-black {
    border-radius: border-radius;
    background: #030303;
    width: card-inner-width;
    height: card-inner-height;
    margin: card-inner-margin;
}

.number {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    margin: 0 auto;
    color: white;
    font-size: center-font-size;
    text-align: center;
    line-height: 100px;
}

.numberUp {
    position: absolute;
    top: 0.5em;
    left: 0.8em;
    color: white;
    font-size: number-font-size;
}

.numberDown {
    position: absolute;
    bottom: 0.5em;
    right: 0.8em;
    color: white;
    font-size: number-font-size;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}